@import "tailwindcss";


.navbar {
  @apply text-white bg-gradient-to-r from-slate-900 via-slate-800 to-slate-900 px-8 py-4 shadow-lg ml-[65%] rounded-l-lg;
}

.nav-list {
  @apply flex items-center justify-center gap-8;
}

.nav-link {
  @apply text-white font-medium transition-colors duration-300 hover:text-sky-400;
}

.nav-link.active {
  @apply text-sky-400 font-semibold;
}
